
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="overflow:hidden">
<head>
    <title>andyWqhFine个人学习项目</title>
</head>
<body style="overflow:hidden">
    <div id="ajax-loader" style="cursor:progress; position:fixed;top:-50%;left:-50%;width:200%;height:200%;background#fff;z-index:99999;overflow:hidden;">
        <img src="~/Content/img/ajax-loader.gif" style="position:absolute;top:0;left:0;right:0;bottom:0; margin:auto;"  alt="loading"/>
    </div>
    <div id="theme-wrapper">

    </div>
</body>
</html>